.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  padding: 50px;
}

.header_menu {
  

}

.header_menu-list {
  display: flex;
  list-style: none;
  gap: 30px;
  font-style: Regular;
}

.header_menu-item {
  list-style: circle;
}
  
  
.header_logo {
  display: block;
  width: 129.11px;
}

.cover {
  background-image: url (".\images\cover.jpg")
}

.cover_title {
  width: 1000px;
  height: 385px;
  color: #FFFFFF;

}

.span {
  display: block;
}

.text_center {
  text-align: center;
}

.text_righr {
  text-align: right;
}

.description {

}

.lots {

}

.about {

}

.footer {

}



